#accueil {
    position: absolute;
    width: 100vw;
    height: 100vh;
    font-size: 11vw;
    font-weight: 700;
    font-family: Axis;
    text-align: center;
    background-color: white;
    transition: background-color 0.5s, opacity 0.5s;
    z-index: 10;
}

#accueil h1 {
    position: absolute;
    top: 40%;
    display: inline-block;
    color: $color_bleu2;
    // margin-top: 35vh;
    transition: opacity 0.5s, margin 0.5s, color 0.5s, transform 0.5s;
    margin: 0;
    padding: 0;
    width: 30vw;
}
 

#accueil h1 div, #accueil h1 p {
    transition: opacity 0.5s, margin 0.5s, color 0.5s, transform 0.5s;
    // display: inline-block;
    // text-align: left;
    // text-align: left;
}

#accueil h1:first-child {
    color: #222;
    left: 2%;
    text-align: right;
}
#accueil h1:nth-child(2) {
    text-align: center;
    left: 36%;
    display: flex;
    // position: relative; 
}
#accueil h1:last-child {
    color: #222;
    right: 14%;
    text-align: left;
    display: flex;
}

#logo p {
    text-align: center;
    font-weight: 600;
    font-size: 1.1vw;
    color: white;
    padding: 15px 0 0 0;
    margin-top: 18px;
    border-top: 1px solid white;
}
#bodyAccueil #logo {
    width: 120px;
}

#infos {
    margin: 0 auto;
    // background-color: #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    height: 30vh;
    padding: 9vw;
    padding-top: 0vw;
    font-weight: 700;
    margin-top: -5vh;
    margin-bottom: 100px;
}

#infos>div {
    width: 25%;
    // background-color: red;
    text-align: center;
    color: white;
    font-size: 16px;
}

#infos>div>div:nth-child(2) {
    height: 10vh;
    background: linear-gradient(to bottom right, $color_bleu1, $color_bleu2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 3px;
}

#infos>div>div:nth-child(3) {
    border-top: 2px solid $color_bleu2;
    margin-top: 5vh;
    padding-top: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
}

#infos>div>div:nth-child(3)>div {
    width: 6vw;
    height: 6vw;
    // margin: 5vw;
    background-color: white;
    border-radius: 3px;
}

#infos>div h1 {
    font-family: Ubuntu;
    color: white;
    font-size: 90px;
    padding-bottom: 30px;
    position: relative;
    left: -50%;
    top: 35%;
    z-index: 1;
}

#bodyAccueil {
    position: relative;
    height: 100vh;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/backgrounds/accueil_background.jpg");
        filter: brightness(75%);
        background-size: cover;
        background-position: center center;
        z-index: -10;
    }
}


#btnListe {
    width: 290px;
    margin-top: 120px;
    font-size: 15px;
    padding: 30px;
}

@media only screen and (min-width: 900px) {
    #infos {
        flex-direction: row;
    }

}