/* ========================================================================*/
/* ========================================================================*/
/* CSS DE L'APPLICATION WEB - LE 13E MOIS*/
/* @author = Lucas Theillet*/
/* ========================================================================*/
/* ANIMATIONS DE TRANSITION VIA VUE.JS*/
/* ========================================================================*/
/* ========================================================================*/

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.2s;
    transition-property: opacity;
    transition-timing-function: ease;
}
.fade-enter-active{
    transition-delay: 0.2s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}




/* ACTIVÉES UNIQUEMENT SUR GRAND ÉCRAN*/
@media screen and (min-width: $breakpoint_bureau) {



    .entreePhoto-enter-active,
    .entreePhoto-leave-active {
        -webkit-animation: entreePhoto 3.5s;
                animation: entreePhoto 3.5s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
    }

    @-webkit-keyframes entreePhoto {
        0% {
            width: 100vw;
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        91% {
            opacity: 1;
            width: 100vw;
        }

        100% {
            width: 50vw;

        }
    }

    @keyframes entreePhoto {
        0% {
            width: 100vw;
            opacity: 0;
        }

        20% {
            opacity: 1;
        }

        91% {
            opacity: 1;
            width: 100vw;
        }

        100% {
            width: 50vw;

        }
    }



    .entreeTitre-enter-active,
    .entreeTitre-leave-active {
        -webkit-animation: entreeTitre 4s;
                animation: entreeTitre 4s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        /* animation-delay: 1s;*/
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
    }

    @-webkit-keyframes entreeTitre {
        0% {
            /* width: 1vw;*/
            opacity: 0;
            /* margin-left: 30vw;*/
            font-size: 90px;
            width: 100%;
            text-align: center;
        }

        20% {
            opacity: 0;
        }

        40% {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        80% {
            font-size: 90px;
            opacity: 0;
            text-align: center;
            width: 100%;
        }

        81% {
            font-size: 50px;
            opacity: 0;
            text-align: left;
            width: 20%;
        }

        95% {
            opacity: 0;
        }

        to {
            width: 50%;
            font-size: 50px;
            opacity: 1;
        }
    }

    @keyframes entreeTitre {
        0% {
            /* width: 1vw;*/
            opacity: 0;
            /* margin-left: 30vw;*/
            font-size: 90px;
            width: 100%;
            text-align: center;
        }

        20% {
            opacity: 0;
        }

        40% {
            opacity: 1;
        }

        70% {
            opacity: 1;
        }

        80% {
            font-size: 90px;
            opacity: 0;
            text-align: center;
            width: 100%;
        }

        81% {
            font-size: 50px;
            opacity: 0;
            text-align: left;
            width: 20%;
        }

        95% {
            opacity: 0;
        }

        to {
            width: 50%;
            font-size: 50px;
            opacity: 1;
        }
    }


    .entreeSousTitre-enter-active,
    .entreeSousTitre-leave-active {
        -webkit-animation: entreeSousTitre 3.5s;
                animation: entreeSousTitre 3.5s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        /* animation-delay: 1s;*/
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        opacity: 0.01;
    }

    @-webkit-keyframes entreeSousTitre {
        0% {
            /* width: 1vw;*/
            opacity: 0;
            /* margin-left: 30vw;*/
        }

        20% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        55% {
            opacity: 1;
        }

        91% {
            /* margin-left: 30vw;*/
        }

        100% {
            opacity: 1;
            /* margin-left: 0;*/
        }
    }

    @keyframes entreeSousTitre {
        0% {
            /* width: 1vw;*/
            opacity: 0;
            /* margin-left: 30vw;*/
        }

        20% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        55% {
            opacity: 1;
        }

        91% {
            /* margin-left: 30vw;*/
        }

        100% {
            opacity: 1;
            /* margin-left: 0;*/
        }
    }


    .entreeResume-enter-active,
    .entreeResume-leave-active {
        -webkit-animation: entreeResume 3.5s;
                animation: entreeResume 3.5s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        /* animation-delay: 1s;*/
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        opacity: 0.01;
    }

    @-webkit-keyframes entreeResume {
        0% {
            /* width: 1vw;*/
            opacity: 0;
            /* margin-left: 30vw;*/
        }

        20% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        70% {
            opacity: 0;
        }

        91% {
            /* margin-left: 30vw;*/
            opacity: 0;
        }

        100% {
            opacity: 1;
            /* margin-left: 0;*/
        }
    }

    @keyframes entreeResume {
        0% {
            /* width: 1vw;*/
            opacity: 0;
            /* margin-left: 30vw;*/
        }

        20% {
            opacity: 0;
        }

        50% {
            opacity: 0;
        }

        70% {
            opacity: 0;
        }

        91% {
            /* margin-left: 30vw;*/
            opacity: 0;
        }

        100% {
            opacity: 1;
            /* margin-left: 0;*/
        }
    }



    .entreeInfos-enter-active,
    .entreeInfos-leave-active {
        -webkit-animation: entreeInfos 3.5s;
                animation: entreeInfos 3.5s;
        -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;

    }

    @-webkit-keyframes entreeInfos {
        0% {
            width: 0;
            padding: 0;
            opacity: 0;
        }

        /* 60% {*/
        /*     opacity: 1;*/
        /* }*/

        91% {
            width: 0;
            padding: 0;
            opacity: 0;
        }

        100% {
            opacity: 1;
            width: 50vw;

        }
    }

    @keyframes entreeInfos {
        0% {
            width: 0;
            padding: 0;
            opacity: 0;
        }

        /* 60% {*/
        /*     opacity: 1;*/
        /* }*/

        91% {
            width: 0;
            padding: 0;
            opacity: 0;
        }

        100% {
            opacity: 1;
            width: 50vw;

        }
    }




    .entreeSubInfo-enter-active,
    .entreeSubInfo-leave-active {
        -webkit-animation: entreeSubInfo 0.5s;
                animation: entreeSubInfo 0.5s;
        /* animation-timing-function: ease-in;*/
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
        opacity: 0;
    }

    @-webkit-keyframes entreeSubInfo {
        100% {
            -webkit-transform: translateY(0px);
                    transform: translateY(0px);
            opacity: 1;
        }
    }

    @keyframes entreeSubInfo {
        100% {
            -webkit-transform: translateY(0px);
                    transform: translateY(0px);
            opacity: 1;
        }
    }

    #uneDestinationInfos>*:nth-child(1) {
        -webkit-animation-delay: 3.6s;
                animation-delay: 3.6s;
    }

    #uneDestinationInfos>*:nth-child(2) {
        -webkit-animation-delay: 3.7s;
                animation-delay: 3.7s;
    }

    #uneDestinationInfos>*:nth-child(3) {
        -webkit-animation-delay: 3.8s;
                animation-delay: 3.8s;
    }

    #uneDestinationInfos>*:nth-child(4) {
        -webkit-animation-delay: 3.9s;
                animation-delay: 3.9s;
    }

    #uneDestinationInfos>*:nth-child(5) {
        -webkit-animation-delay: 4s;
                animation-delay: 4s;
    }

    #uneDestinationInfos>*:nth-child(6) {
        -webkit-animation-delay: 4.1s;
                animation-delay: 4.1s;
    }

}