/* ========================================================================*/
/* ========================================================================*/
/* CSS DE L'APPLICATION WEB - LE 13E MOIS*/
/* @author = Lucas Theillet*/
/* ========================================================================*/
/* STYLES GÉNÉRAUX PRÉSENTS SUR TOUTES LES PAGES*/
/* ========================================================================*/
/* ========================================================================*/

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

body {
    font-family: Montserrat;
    background-color: #FCFCFC;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: white;
}

#logo13 {
    font-family: Axis;
    text-align: center;
    padding: 50px 0 30px 0;
    font-size: 30vw;
    font-weight: 700;
    color: white;
}

#logo {
    margin: 0 auto;
    width: 11vw;
    padding-top: 40px;
    text-align: center;
}
#logo img {
    margin: 0 auto;
    width: 100%;
    transition: -webkit-filter 0.2s;
    transition: filter 0.2s;
    transition: filter 0.2s, -webkit-filter 0.2s;
    &:hover {
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
    }
}

.turquoise {
    color: $color_turquoise;
}