#accueil {
    position: fixed;
    width: 100vw;
    min-height: 116vh;
    font-size: 11vw;
    font-weight: 700;
    font-family: Axis;
    text-align: center;
    background-color: white;
    transition: background-color 0.5s, opacity 0.5s;
    z-index: 10;
    margin-top: -8vh;
}

#accueil h1 {
    position: absolute;
    top: 40%;
    display: inline-block;
    color: $color_bleu2;
    // margin-top: 35vh;
    transition: opacity 0.5s, margin 0.5s, color 0.5s, transform 0.5s;
    margin: 0;
    padding: 0;
    width: 30vw;
}


#accueil h1 div,
#accueil h1 p {
    transition: opacity 0.5s, margin 0.5s, color 0.5s, transform 0.5s;
    // display: inline-block;
    // text-align: left;
    // text-align: left;
}

#accueil h1:first-child {
    color: #222;
    left: 2%;
    text-align: right;
}

#accueil h1:nth-child(2) {
    text-align: center;
    left: 36%;
    display: flex;
    // position: relative; 
}

#accueil h1:last-child {
    color: #222;
    right: 14%;
    text-align: left;
    display: flex;
}

#logo p {
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    color: white;
    padding: 15px 0;
    margin-top: 18px;
    border-top: 1px solid white;
}

#bodyAccueil #logo {
    width: 150px;
}

#infos {
    // height: auto;
    margin: 0 auto;
    // background-color: #aaa;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    // height: 30vh;
    padding: 5vh 9vw 0vh 9vw;
    // padding-top: 0vw;
    font-weight: 700;
    margin-top: 0;
}

#infos>div {
    width: 100%;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: white;
}

#infos>div>div:nth-child(2) {
    height: 10vh;
    background: linear-gradient(to bottom right, $color_bleu1, $color_bleu2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    border-radius: 3px;
}

#infos>div>div:nth-child(3) {
    // height: 60px;
    border-top: 2px solid $color_bleu2;
    margin: 25px 0 100px 0;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
}

#infos>div>div:nth-child(3)>div {
    width: 25vw;
    height: 25vw;
    background-color: white;
    border-radius: 3px;
}

#infos>div h1 {
    font-family: Ubuntu;
    color: white;
    font-size: 90px;
    padding-bottom: 30px;
    position: relative;
    top: 3vh;
    z-index: 1;
}

#bodyAccueil {
    // overflow: hidden;
    position: relative;
    min-height: 100vh;
    padding-bottom: 40px;
    box-sizing: border-box;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../images/backgrounds/accueil_background.jpg");
        filter: brightness(75%);
        background-size: cover;
        background-position: center center;
        z-index: -10;
    }
}


#btnListe {
    width: 230px;
    font-size: 14px;
}

@media only screen and (min-width: $breakpoint_mini) {
    #infos>div>div:nth-child(3)>div {
        width: 20vw;
        height: 20vw;
        background-color: white;
        border-radius: 3px;
    }

    #btnListe {
        width: 290px;
        font-size: 15px;
    }

    #infos>div {
        width: 100%;
        font-size: 17px;
        line-height: 19px;
        text-align: center;
        color: white;
    }
}

@media only screen and (min-width: $breakpoint_mobile) {
    #infos {
        flex-direction: row;
    }

    #infos>div {
        width: 28%;
    }

    #infos>div>div:nth-child(2) {
        height: 70px;
    }

    #infos>div>div:nth-child(3)>div {
        width: 6vw;
        height: 6vw;
        background-color: white;
        border-radius: 3px;
    }

    #infos>div>div:nth-child(3) {
    margin: 25px 0 8vh 0;
 
    }

    #infos>div h1 {
        font-family: Ubuntu;
        color: white;
        font-size: 90px;
        padding-bottom: 30px;
        position: relative;
        left: -50%;
        top: 8%;
        z-index: 1;
    }
}

@media only screen and (min-width: $breakpoint_mobile) {
    #bodyAccueil {
        padding-top: 8vh;
    }

}