#main_uneDestination {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}

#uneDestination {
    width: 100vw;
    // height: 100vh;
    display: flex;
    flex-direction: column;
        background-color: #fefefe;

}

#uneDestinationImage {
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    padding: 5vw 6vw;
    box-sizing: border-box;
    background-color: #444;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





#link {
    font-size: 14px;
    font-weight: 600;
    text-shadow: 0 0 20px #444;
    transition: text-shadow 0.2s;

    &:hover {
        text-shadow: 0 0 10px #000;

    }
}

#sousTitre {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    width: 140px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

#uneDestinationImage h1 {
    font-size: 30px;
    font-weight: 800;
    text-shadow: 0 0 120px #444;
    text-transform: uppercase;
    // line-height: 60px;

    width: 50%;
    opacity: 1;
}

#resumeInfos {
    width: 100%;
    padding: 25px 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 11px;
}


#resumeInfos>div:first-child>div:first-child {
    padding-bottom: 4px;
    color: $color_turquoise;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resumeInfos>div:first-child>div:first-child i {
    font-size: 14px;
}


#resumeInfos>div:nth-child(2)>div:first-child {
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
}

#resumeInfos>div:nth-child(2)>div:first-child i {
    color: orange;
    font-size: 14px;
}


#resumeInfos>div:nth-child(3)>div:first-child {
    padding-bottom: 4px;
    color: $color_turquoise;
    font-weight: 800;
    font-size: 14px;
    display: flex;
    justify-content: center;
}


// ===============================================
// ===============================================
// ===============================================



#uneDestinationInfos {
    background-color: #fefefe;
    // height: 100vh;
    width: 100vw;
    padding: 5vw 6vw;
    box-sizing: border-box;
}

#uneDestinationInfos h1 {
    font-size: 45px;
    font-weight: 600;
    color: #333;
}


#uneDestinationInfos>div:nth-child(2) {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    color: $color_turquoise;
}

#uneDestinationInfos>div:nth-child(3) i {
    margin-top: -3px;
    color: orange;
    font-size: 22px;
}

#uneDestinationInfos>div:nth-child(3) {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #444;
    margin-bottom: 30px;
}

#activites,
#description {
    margin-top: 20px;
    background-color: white;
    padding: 28px;
    box-sizing: border-box;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#activites {
    padding-bottom: 25px;
    flex-direction: column;
}

#activites h3,
#description h3 {
    font-weight: 600;
    padding-bottom: 20px;
    color: $color_bleu2;
    min-width: 100%;
    font-size: 15px;
}

#uneDestinationInfos .bouton {
    width: 140px;
    margin: 0;
}

#suivant {
    margin-top: 30px;
    color: $color_turquoise;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    text-align: right;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

#suivant p {
    margin-bottom: 10px;
    margin-right: 3px;
    font-weight: 600;
}



#activites>div>div {
    width: 25px;
    height: 25px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

#activites>div {
    display: flex;
    margin-top: 10px;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

#activites>div:last-child {
    border-bottom: none;
}




@media screen and (min-width: $breakpoint_mobile) {
    #uneDestinationImage h1 {
    font-size: 50px;
}
    #uneDestinationInfos {
        background-color: #fefefe;
        // height: 100vh;
        width: 100vw;
        padding: 50px 70px;
        box-sizing: border-box;
    }

    #activites {
        flex-direction: row;
    }

    #activites>div {
        border-bottom: none;
        padding-bottom: 0px;
    }
#suivant {
    margin-top: 40px;
    color: $color_turquoise;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: flex-end;
    align-items: center;
}
#suivant p {
    vertical-align: middle;
    margin-right: 20px;
    font-weight: 600;
}
#resumeInfos {
    width: 100%;
    padding: 25px 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    border-radius: 2px;
    font-size: 14px;
}

#resumeInfos>div {
    width: 30%;
    text-align: center;
}

#resumeInfos>div:first-child>div:first-child {
    padding-bottom: 4px;
    color: $color_turquoise;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#resumeInfos>div:first-child>div:first-child i {
    font-size: 16px;
}


#resumeInfos>div:nth-child(2)>div:first-child {
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
}

#resumeInfos>div:nth-child(2)>div:first-child i {
    color: orange;
    font-size: 18px;
}


#resumeInfos>div:nth-child(3)>div:first-child {
    padding-bottom: 4px;
    color: $color_turquoise;
    font-weight: 800;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
}

@media screen and (min-width: $breakpoint_bureau) {
    #uneDestination {
        flex-direction: row;
        align-items: stretch;
        min-height: 100%;
    }

    #uneDestinationImage {
    position: fixed;
        flex: 1;
        background-size: cover;
        background-position: center center;
        // min-height: 100vh;
        width: 50vw;
        padding: 50px 70px;
        box-sizing: border-box;
        background-color: #444;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    #uneDestinationInfos {
        // flex: 1;
        position: relative;
        left: 50%;
        background-color: #fefefe;
        min-height: 100vh;
        width: 50vw;
        padding: 50px 70px;
        box-sizing: border-box;
    }
}