.boxShadow {
    box-shadow: 0 0 3px #555;
    border-radius: 3px;
}

.boxShadowHover {
    box-shadow: 0 0 3px #555;
    transition: box-shadow 0.2s;
}

@media screen and (min-width: $breakpoint_bureau) {
    .boxShadowHover:hover {
        box-shadow: 0 0 15px #aaa;
    }
}