#icon_pays {
	background-image: url("../images/icons/icon_pays.png");
	background-size: contain;
}
#icon_prix {
	background-image: url("../images/icons/icon_prix.png");
	background-size: contain;
}
#icon_note {
	background-image: url("../images/icons/icon_note.png");
	background-size: contain;
}
#icon_activites {
	background-image: url("../images/icons/icon_activites.png");
	background-size: contain;
}
#icon_services {
	background-image: url("../images/icons/icon_services.png");
	background-size: contain;
}
#icon_climat {
	background-image: url("../images/icons/icon_climat.png");
	background-size: contain;
}
#icon_date {
	background-image: url("../images/icons/icon_date.png");
	background-size: contain;
}
#icon_options {
	background-image: url("../images/icons/icon_options.png");
	background-size: contain;
}
#icon_paiement {
	background-image: url("../images/icons/icon_paiement.png");
	background-size: contain;
}